<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mayusculas">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="4F7302" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngFor="let x of sales">
    <ion-card *ngIf="x.cliente == parameter">
      <ion-card-header color="4F7302">
        <ion-card-title>Comprobante {{x.comprobante}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p><strong>Cliente:</strong> {{x.clientes.nombre}} {{x.clientes.apellido}}</p>
        <p><strong>Tipo:</strong> {{x.tipos.descripcion}}</p>
        <p><strong>Total:</strong> Q {{x.total}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
