<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-title class="mayusculas">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content padding *ngIf="parameter=='1'">
  <form (ngSubmit)="saveChanges(InsertForm.value)" #InsertForm="ngForm">
    <img src="{{data2.picture}}" id="imgAvatar" alt="Avatar" class="picture-profile">
    <!--NOMBRE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="person"></ion-icon> Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombre" name="nombre">
      </ion-input>
    </ion-item>
    <!--APELLIDO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="person"></ion-icon>  Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="data.apellido" name="apellido">
      </ion-input>
    </ion-item>
    <!--DIRECCION-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="home"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="data.direccion" name="direccion" >
      </ion-input>
    </ion-item>
    <!--TELEFONO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="call"></ion-icon>  No. Teléfono</ion-label>
      <ion-input type="text" [(ngModel)]="data.telefono" name="telefono" >
      </ion-input>
    </ion-item>
    <!--CELULAR-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="phone-portrait"></ion-icon>  No. Celular</ion-label>
      <ion-input type="text" [(ngModel)]="data.celular" name="celular" >
      </ion-input>
    </ion-item>
    <!--TIPO DE CLIENTE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Pais</ion-label>
      <ion-select value="{{data2.pais}}" ngModel #pais="ngModel" name="pais">
        <ion-select-option  *ngFor="let x of table" value="{{x.id}}" >{{ x.countryCode }} - {{ x.countryName }}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="upload-btn-wrapper">
      <ion-button style="width: 100%" expand="block" fill="outline" type="button" color="4F7302" disabled>
        <ion-icon ios="ios-image" md="md-image" slot="start"></ion-icon>
        Subir Imagen
      </ion-button>
      <input style="width: 100%; height: 100%;" class="upload-btn-wrapper2 button-block invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <ion-button expand="block" type="submit" color="4F7302" [disabled]="btnDisabled">
      <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>

<ion-content padding *ngIf="parameter=='2'">
  <form (ngSubmit)="changePasswordProfile()">
    <!--CONTRASEÑA ANTIGUA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="lock"></ion-icon>  Contraseña Actual</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.old_pass" name="old_pass">
      </ion-input>
    </ion-item>
    <!--CONTRASEÑA NUEVA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="lock"></ion-icon>  Contraseña Nueva</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.new_pass" name="new_pass">
      </ion-input>
    </ion-item>
    <!--CONFIRMAR CONTRASEÑA NUEVA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="lock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep" >
      </ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" color="4F7302" [disabled]="btnDisabled2">
      <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>