<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mayusculas">{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="274001">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="clientes" checked>
        <ion-label>Clientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="visitasdiario">
        <ion-label>Visitas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'display': selectedItem=='clientes'? 'block' : 'none'}">
  <ion-list>
    <ion-item-sliding *ngFor="let x of Table">
      <ion-item>
        <ion-label>
          <h2 class="mayusculas">{{x.nombre}} {{x.apellido}}</h2>
          <p class="mayusculas">{{x.direccion}}</p>
          <p class="mayusculas">{{x.celular}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="tertiary" (click)="create(x)">
          <ion-icon name="cloud-upload" slot="start"></ion-icon> Sincronizar
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleted(x)">
          <ion-icon name="trash" slot="start"></ion-icon> Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-content [ngStyle]="{'display': selectedItem=='visitasdiario'? 'block' : 'none'}">
  <ion-list>
    <ion-item-sliding *ngFor="let x of Table2">
      <ion-item>
        <ion-label>
          <h2 class="mayusculas">FORMULARIO VISITA</h2>
          <p class="mayusculas"><strong>Cliente: </strong>{{x.nombre_cliente}}</p>
          <p class="mayusculas"><strong>Observación: </strong>{{x.observaciones}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="tertiary" (click)="create2(x)">
          <ion-icon name="cloud-upload" slot="start"></ion-icon> Sincronizar
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleted2(x)">
          <ion-icon name="trash" slot="start"></ion-icon> Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
