<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-title class="mayusculas">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--SEMANA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Semana</ion-label>
      <ion-input type="text" [(ngModel)]="data.semana" name="semana">
      </ion-input>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Fecha</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="data.fecha" name="fecha"></ion-datetime>
    </ion-item>
    <!--HORA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Hora</ion-label>
      <ion-datetime displayFormat="HH:mm:ss" pickerFormat="HH mm ss" [(ngModel)]="data.hora" name="hora"></ion-datetime>
    </ion-item>
    <!--NOMBRE DEL CLIENTE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Nombre del Cliente</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombre_cliente" name="nombre_cliente" disabled>
      </ion-input>
    </ion-item>
    <!--TIPO DE CLIENTE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Tipo del Cliente</ion-label>
      <ion-select [(ngModel)]="data.tipo_cliente" name="tipo_cliente">
        <ion-select-option  *ngFor="let x of tipoCliente" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--LUGAR-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Lugar</ion-label>
      <ion-input type="text" [(ngModel)]="data.lugar" name="lugar" disabled>
      </ion-input>
    </ion-item>
    <!--DEPARTAMENTO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Departamento</ion-label>
      <ion-input type="text" [(ngModel)]="data.departamento" name="departamento">
      </ion-input>
    </ion-item>
    <!--OBJETIVOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Objetivos</ion-label>
      <ion-select [(ngModel)]="data.objetivos" name="objetivos">
        <ion-select-option  *ngFor="let x of objetivos" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--CULTIVOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Cultivos</ion-label>
      <ion-select [(ngModel)]="data.cultivo" name="cultivo">
        <ion-select-option  *ngFor="let x of cultivos" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--AVANCES-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Avances</ion-label>
      <ion-select [(ngModel)]="data.tipo_avance" name="tipo_avance">
        <ion-select-option  *ngFor="let x of tipoAvance" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--OBSERVACIONES-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Observaciones</ion-label>
      <ion-input type="text" [(ngModel)]="data.observaciones" name="observaciones">
      </ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" color="4F7302" [disabled]="disabledBtn">
      <ion-icon ios="ios-archive" md="md-archive" slot="start"></ion-icon>
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>