<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-title class="mayusculas" *ngIf="data">Visita No. {{ data.id }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="274001">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="plan" checked>
        <ion-label>Plan</ion-label>
      </ion-segment-button>
      <ion-segment-button value="resultados">
        <ion-label>Resultados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="selectedItem=='plan'">
  <div *ngIf="data">
    <p *ngIf="data.semana"><strong>Semana</strong></p>
    <p *ngIf="data.semana" class="mayusculas">{{ data.semana }}</p>
    <p *ngIf="data.fecha"><strong>Fecha</strong></p>
    <p *ngIf="data.fecha" class="mayusculas">{{ data.fecha }}</p>
    <p *ngIf="data.hora"><strong>Hora</strong></p>
    <p *ngIf="data.hora" class="mayusculas">{{ data.hora }}</p>
    <p *ngIf="data.nombre_cliente"><strong>Nombre del Cliente</strong></p>
    <p *ngIf="data.nombre_cliente" class="mayusculas">{{ data.nombre_cliente }}</p>
    <p *ngIf="data.tipo_cliente"><strong>Tipo de Cliente</strong></p>
    <p *ngIf="data.tipo_cliente" class="mayusculas">{{ data.tipos_cliente.nombre }}</p>
    <p *ngIf="data.lugar"><strong>Lugar</strong></p>
    <p *ngIf="data.lugar" class="mayusculas">{{ data.lugar }}</p>
    <p *ngIf="data.departamento"><strong>Departamento</strong></p>
    <p *ngIf="data.departamento" class="mayusculas">{{ data.departamento }}</p>
    <p *ngIf="data.objetivo"><strong>Objetivos</strong></p>
    <p *ngIf="data.objetivo" class="mayusculas">{{ data.objetivo.nombre }}</p>
    <p *ngIf="data.cultivos"><strong>Cultivo</strong></p>
    <p *ngIf="data.cultivos" class="mayusculas">{{ data.cultivos.nombre }}</p>
    <p *ngIf="data.tipo_avance"><strong>Tipo de Avance</strong></p>
    <p *ngIf="data.tipo_avance" class="mayusculas">{{ data.tipos_avance.nombre }}</p>
  </div>
</ion-content>

<ion-content *ngIf="selectedItem=='resultados'">
  <div *ngIf="data.resultados">
    <div *ngFor="let x of data.resultados; let i = index;">
      <ion-card>
        <ion-card-header color="4F7302">
          <ion-card-title>Resultado No. {{ i+1 }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="x">
          <p *ngIf="x.semana"><strong>Semana</strong></p>
          <p *ngIf="x.semana" class="mayusculas">{{ x.semana }}</p>
          <p *ngIf="x.fecha"><strong>Fecha</strong></p>
          <p *ngIf="x.fecha" class="mayusculas">{{ x.fecha }}</p>
          <p *ngIf="x.hora"><strong>Hora</strong></p>
          <p *ngIf="x.hora" class="mayusculas">{{ x.hora }}</p>
          <p *ngIf="x.nombre_cliente"><strong>Nombre del Cliente</strong></p>
          <p *ngIf="x.nombre_cliente" class="mayusculas">{{ x.nombre_cliente }}</p>
          <p *ngIf="x.tipo_cliente.nombre"><strong>Tipo de Cliente</strong></p>
          <p *ngIf="x.tipo_cliente.nombre" class="mayusculas">{{ x.tipos_cliente.nombre }}</p>
          <p *ngIf="x.lugar"><strong>Lugar</strong></p>
          <p *ngIf="x.lugar" class="mayusculas">{{ x.lugar }}</p>
          <p *ngIf="x.departamento"><strong>Departamento</strong></p>
          <p *ngIf="x.departamento" class="mayusculas">{{ x.departamento }}</p>
          <p *ngIf="x.objetivos"><strong>Objetivos</strong></p>
          <p *ngIf="x.objetivos" class="mayusculas">{{ x.objetivos }}</p>
          <p *ngIf="x.cultivo"><strong>Cultivo</strong></p>
          <p *ngIf="x.cultivo" class="mayusculas">{{ x.cultivo }}</p>
          <p *ngIf="x.tipo_avance.nombre"><strong>Tipo de Avance</strong></p>
          <p *ngIf="x.tipo_avance.nombre" class="mayusculas">{{ x.tipos_avance.nombre }}</p>
          <p *ngIf="x.logrado=='0'"><strong>¿Se logró el objetivo?</strong></p>
          <p *ngIf="x.logrado=='1'"><strong>¿Se logró el objetivo?</strong></p>
          <p *ngIf="x.logrado=='0'" class="mayusculas">No</p>
          <p *ngIf="x.logrado=='1'" class="mayusculas">Si</p>
          <p *ngIf="x.razon"><strong>Razón</strong></p>
          <p *ngIf="x.razon" class="mayusculas">{{ x.razon }}</p>
          <p><strong><ion-icon ios="ios-images" md="md-images"></ion-icon> Fotografías</strong></p>
          <hr>
          <img *ngIf="x.foto1" src="{{ x.foto1 }}" class="image-slides">
          <hr>
          <img *ngIf="x.foto2" src="{{ x.foto2 }}" class="image-slides">
          <hr>
          <img *ngIf="x.foto3" src="{{ x.foto3 }}" class="image-slides">
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>