<ion-content>
  <div [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" class="full-screen-background-image2">
    <div style="width: 100%; height: 50%; background-color: transparent;">
      <div class="container">
        <img class="img-center" *ngIf="pictureApp" src="{{pictureApp}}">
      </div>
    </div>
    <div padding>
      <form (ngSubmit)="logIn()" class="item item-trns">
        <ion-item color="gray-ligth">
          <ion-label style="color: white;" position="floating"><ion-icon name="contact"></ion-icon>  Usuario</ion-label>
          <ion-input style="color: white;" type="text" (keyup.enter)="logIn()" [(ngModel)]="data.username" name="username"></ion-input>
        </ion-item>
        <ion-item color="gray-ligth">
          <ion-label style="color: white;" position="floating" ><ion-icon name="lock"></ion-icon>  Contraseña</ion-label>
          <ion-input style="color: white;" (keyup.enter)="logIn()" [type]="passwordType" [(ngModel)]="data.password" name="password">
          </ion-input>
          <ion-icon name="eye-off" slot="end" size="small" style="color: white;" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
          <ion-icon name="eye" slot="end" size="small" style="color: white;" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
        </ion-item>
        <div style="padding: 10px;">
        <ion-button color="4C9900" expand="block" type="submit" [disabled]="disabledBtn">Iniciar Sesión</ion-button>
        <ion-button color="4C9900" expand="block" type="button" (click)="presentModal()">¿Olvidaste tu contraseña?</ion-button>
        </div>
      </form>
    </div>
    <div class="footer">
      <p>© Foxylabs 2019</p>
    </div>
  </div>
</ion-content>