<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mayusculas">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="getMyClients()" *ngIf="itemSelected=='mis'">
        <ion-icon name="cloud-download" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="getAllClients()" *ngIf="itemSelected=='todos'">
        <ion-icon name="cloud-download" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="274001">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="mis" (click)="getAllMine()" checked>
        <ion-label>Mis Clientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="todos" (click)="getAllClientes()">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="274001">
    <ion-searchbar animated [(ngModel)]="search" [ngModelOptions]="{standalone: true}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="4F7302" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="itemSelected=='mis'">
    <ion-item-sliding *ngFor="let x of table | filter : search">
      <ion-item>
        <ion-label>
          <h2 class="mayusculas">{{x.nombre}} {{x.apellido}}</h2>
          <p class="mayusculas">{{x.direccion}}</p>
          <p class="mayusculas">{{x.celular}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="4F7302" (click)="presentModal(x.id)">
          <ion-icon name="create" slot="start"></ion-icon> Actualizar
        </ion-item-option>
        <ion-item-option color="990000" (click)="confirmation(x)" [disabled]="disabledBtn">
          <ion-icon name="trash" slot="start"></ion-icon> Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="itemSelected=='todos'">
    <ion-item-sliding *ngFor="let x of table2 | filter : search">
      <ion-item>
        <ion-label>
          <h2 class="mayusculas">{{x.nombre}} {{x.apellido}}</h2>
          <p class="mayusculas">{{x.direccion}}</p>
          <p class="mayusculas">{{x.celular}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="4F7302" (click)="assignament(x.id)" [disabled]="disabledBtn">
          <ion-icon name="create" slot="start"></ion-icon> Asignar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
