<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-title class="mayusculas">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="274001">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="plan" checked>
        <ion-label>Plan</ion-label>
      </ion-segment-button>
      <ion-segment-button value="resultados">
        <ion-label>Resultados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'display': selectedItem=='plan'? 'block' : 'none'}" padding>
  <ion-button color="4F7302" expand="block" type="button" (click)="actualizarFormularioInicial()" [disabled]="data.hora_inicial!=null">
    <ion-icon slot="start" name="play"></ion-icon>
    Inicio de Visita
  </ion-button>
  <form (ngSubmit)="saveChanges(InsertForm.value)" *ngIf="data3"  #InsertForm="ngForm">
    <div *ngIf="data">
    <!--SEMANA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Semana Planificación</ion-label>
      <ion-input type="text" [(ngModel)]="data3.semanas" name="semanas" disabled>
      </ion-input>
    </ion-item>
    <!--SEMANA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Semana</ion-label>
      <ion-input type="text" [(ngModel)]="data.semana" name="semana">
      </ion-input>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Fecha Planificación</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" [(ngModel)]="data3.fechas" name="fechas" disabled></ion-datetime>
    </ion-item>
    <!--HORA-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Hora Planificación</ion-label>
      <ion-datetime displayFormat="HH:mm:ss" pickerFormat="HH mm ss" [(ngModel)]="data3.horas" name="horas" disabled></ion-datetime>
    </ion-item>
    <!--NOMBRE DEL CLIENTE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Nombre del Cliente</ion-label>
      <ion-input type="text" [(ngModel)]="data3.nombre_clientes" name="nombre_clientes" disabled>
      </ion-input>
    </ion-item>
    <!--NOMBRE DEL CLIENTE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Nombre del Cliente</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombre_cliente" name="nombre_cliente">
      </ion-input>
    </ion-item>
    <!--TIPO DE CLIENTE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Tipo del Cliente</ion-label>
      <ion-input type="text" [(ngModel)]="data3.tipo_clientes" name="tipos_clientes" disabled>
      </ion-input>
    </ion-item>
    <!--TIPO DE CLIENTE-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Tipo del Cliente</ion-label>
      <ion-select value="{{data.tipo_cliente}}" ngModel #tipo_cliente="ngModel" name="tipo_cliente">
        <ion-select-option  *ngFor="let x of tipoCliente" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--LUGAR-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Lugar Planificación</ion-label>
      <ion-input type="text" [(ngModel)]="data3.lugars" name="lugars" disabled>
      </ion-input>
    </ion-item>
    <!--LUGAR-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Lugar Planificación</ion-label>
      <ion-input type="text" [(ngModel)]="data.lugar" name="lugar">
      </ion-input>
    </ion-item>
    <!--DEPARTAMENTO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Departamento Planificación</ion-label>
      <ion-input type="text" [(ngModel)]="data3.departamentos" name="departamentos" disabled>
      </ion-input>
    </ion-item>
    <!--DEPARTAMENTO-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Departamento Planificación</ion-label>
      <ion-input type="text" [(ngModel)]="data.departamento" name="departamento">
      </ion-input>
    </ion-item>
    <!--OBJETIVOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Objetivos Planificación</ion-label>
      <ion-input type="text" [(ngModel)]="data3.objetivo" name="objetivoss" disabled>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Objetivos</ion-label>
      <ion-select value="{{data.objetivos}}" ngModel #objetivos="ngModel" name="objetivos">
        <ion-select-option  *ngFor="let x of objetivo" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--CULTIVOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Cultivos Planificación</ion-label>
      <ion-input type="text" [(ngModel)]="data3.cultivos" name="cultivos" disabled>
      </ion-input>
    </ion-item>
    <!--CULTIVOS-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Cultivos</ion-label>
      <ion-select value="{{data.cultivo}}" ngModel #cultivo="ngModel" name="cultivo">
        <ion-select-option  *ngFor="let x of cultivos" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--AVANCES-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Avances Planificación</ion-label>
      <ion-input type="text" [(ngModel)]="data3.tipo_avances" name="tipos_avance" disabled>
      </ion-input>
    </ion-item>
    <!--AVANCES-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Avances</ion-label>
      <ion-select value="{{data.tipo_avance}}" ngModel #tipo_avance="ngModel" name="tipo_avance">
        <ion-select-option  *ngFor="let x of tipoAvance" value="{{x.id}}" >{{ x.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--OBSERVACIONES-->
    <ion-item>
      <ion-label position="stacked"><ion-icon name="information-circle"></ion-icon>  Observaciones Planificación</ion-label>
      <ion-textarea type="text" [(ngModel)]="data3.observacion" name="observacioness" disabled>
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><ion-icon name="information-circle"></ion-icon>  Observaciones</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.observaciones" name="observaciones">
      </ion-textarea>
    </ion-item>
    <!--OBSERVACIONES-->
    <ion-item>
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  ¿Se logró el objetivo?</ion-label>
      <ion-select [(ngModel)]="data.logrado" name="logrado">
        <ion-select-option  value="1" >Si</ion-select-option>
        <ion-select-option  value="0" >No</ion-select-option>
      </ion-select>
    </ion-item>
    <!--RAZON-->
    <ion-item *ngIf="data.logrado == '0'">
      <ion-label position="floating"><ion-icon name="information-circle"></ion-icon>  Razón</ion-label>
      <ion-input type="text" [(ngModel)]="data.razon" name="razon">
      </ion-input>
    </ion-item>
  </div>
  

  <ion-card>
    <ion-card-header color="4F7302">
      <ion-card-title>Fotografía No. 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="{{((data.foto1)?data.foto1:'https://mbtskoudsalg.com/images/is-png-a-vector-file.png')}}" id="imgAvatar" alt="Avatar" class="image-slides">
      <div class="upload-btn-wrapper">
        <ion-button expand="block" type="button" color="4F7302" style="width: 100%">
          <ion-icon ios="ios-image" md="md-image" slot="start"></ion-icon>
          Subir Imagen
        </ion-button>
        <input style="width: 100%" class="upload-btn-wrapper2 button button-block button-solid invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="4F7302">
      <ion-card-title>Fotografía No. 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="{{((data.foto2)?data.foto2:'https://mbtskoudsalg.com/images/is-png-a-vector-file.png')}}" id="imgAvatar2" alt="Avatar2" class="image-slides">
      <div class="upload-btn-wrapper">
        <ion-button expand="block" type="button" color="4F7302" style="width: 100%">
          <ion-icon ios="ios-image" md="md-image" slot="start"></ion-icon>
          Subir Imagen
        </ion-button>
        <input style="width: 100%" class="upload-btn-wrapper2 button button-block button-solid invisible" type="file" id="avatar2" (change)="uploadImage2($event,'avatar2')"/>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="4F7302">
      <ion-card-title>Fotografía No. 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="{{((data.foto3)?data.foto3:'https://mbtskoudsalg.com/images/is-png-a-vector-file.png')}}" id="imgAvatar3" alt="Avatar3" class="image-slides">
      <div class="upload-btn-wrapper">
        <ion-button expand="block" type="button" color="4F7302" style="width: 100%">
          <ion-icon ios="ios-image" md="md-image" slot="start"></ion-icon>
          Subir Imagen
        </ion-button>
        <input style="width: 100%" class="upload-btn-wrapper2 button button-block button-solid invisible" type="file" id="avatar3" (change)="uploadImage3($event,'avatar3')"/>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button color="4F7302"  expand="block" type="submit" [disabled]="data.estado=='0'">
    <ion-icon slot="start" name="archive"></ion-icon>
    Guardar Cambios
  </ion-button>
  </form>
</ion-content>

<ion-content [ngStyle]="{'display': selectedItem=='resultados'? 'block' : 'none'}">
  <div *ngIf="data.resultados">
    <div *ngFor="let x of data.resultados; let i = index;">
      <ion-card>
        <ion-card-header color="4F7302">
          <ion-card-title>Resultado No. {{ i+1 }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="x">
          <p *ngIf="x.semana"><strong>Semana</strong></p>
          <p *ngIf="x.semana" class="mayusculas">{{ x.semana }}</p>
          <p *ngIf="x.fecha"><strong>Fecha</strong></p>
          <p *ngIf="x.fecha" class="mayusculas">{{ x.fecha }}</p>
          <p *ngIf="x.hora"><strong>Hora</strong></p>
          <p *ngIf="x.hora" class="mayusculas">{{ x.hora }}</p>
          <p *ngIf="x.nombre_cliente"><strong>Nombre del Cliente</strong></p>
          <p *ngIf="x.nombre_cliente" class="mayusculas">{{ x.nombre_cliente }}</p>
          <p *ngIf="x.lugar"><strong>Lugar</strong></p>
          <p *ngIf="x.lugar" class="mayusculas">{{ x.lugar }}</p>
          <p *ngIf="x.departamento"><strong>Departamento</strong></p>
          <p *ngIf="x.departamento" class="mayusculas">{{ x.departamento }}</p>
          <p *ngIf="x.objetivos"><strong>Objetivos</strong></p>
          <p *ngIf="x.objetivos" class="mayusculas">{{ x.objetivos }}</p>
          <p *ngIf="x.cultivo"><strong>Cultivo</strong></p>
          <p *ngIf="x.cultivo" class="mayusculas">{{ x.cultivo }}</p>
          <p *ngIf="x.tipo_avance.nombre"><strong>Tipo de Avance</strong></p>
          <p *ngIf="x.tipo_avance.nombre" class="mayusculas">{{ x.tipos_avance.nombre }}</p>
          <p *ngIf="x.logrado=='0'"><strong>¿Se logró el objetivo?</strong></p>
          <p *ngIf="x.logrado=='1'"><strong>¿Se logró el objetivo?</strong></p>
          <p *ngIf="x.logrado=='0'" class="mayusculas">No</p>
          <p *ngIf="x.logrado=='1'" class="mayusculas">Si</p>
          <p *ngIf="x.razon"><strong>Razón</strong></p>
          <p *ngIf="x.razon" class="mayusculas">{{ x.razon }}</p>
          <p><strong><ion-icon ios="ios-images" md="md-images"></ion-icon> Fotografías</strong></p>
          <hr>
          <img *ngIf="x.foto1" src="{{ x.foto1 }}" class="image-slides">
          <hr>
          <img *ngIf="x.foto2" src="{{ x.foto2 }}" class="image-slides">
          <hr>
          <img *ngIf="x.foto3" src="{{ x.foto3 }}" class="image-slides">
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>