.div-redondeado {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #4F7302;
  background-color: #4F7302;
  text-align: center;
  width: 5%;
}