<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mayusculas">{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="274001">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="pendiente" checked>
        <ion-label>Pendientes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="terminado">
        <ion-label>Terminadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedItem=='pendiente'">
  <div *ngFor="let x of visitas;">
    <div *ngIf="!x.planificacion">
      <div *ngIf="x.estado=='1'">
        <ion-card (click)="presentModal(x.id)">
          <ion-card-header color="4F7302">
            <ion-card-title>Visita No. {{ x.id }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="000000">
              <p><strong>Nombre del Cliente:</strong> {{x.nombre_cliente}}</p>
              <p><strong>Fecha:</strong> {{x.fecha}}</p>
              <p><strong>Hora:</strong> {{x.hora}}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>    
</ion-content>

<ion-content *ngIf="selectedItem=='terminado'">
  <div *ngFor="let x of visitas;">
    <div *ngIf="!x.planificacion">
      <div *ngIf="x.estado=='0'">
        <ion-card (click)="presentModal(x.id)">
          <ion-card-header color="4F7302">
            <ion-card-title>Visita No. {{ x.id }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="000000">
              <p><strong>Nombre del Cliente:</strong> {{x.nombre_cliente}}</p>
              <p><strong>Fecha:</strong> {{x.fecha}}</p>
              <p><strong>Hora:</strong> {{x.hora}}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>    
</ion-content>