<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mayusculas">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let x of visitas">
    <div *ngIf="!x.planificacion && x.estado=='0'">
    <ion-card *ngIf="x.cliente == parameter" (click)="presentModalVisita(x.id)">
      <ion-card-header color="4F7302">
        <ion-card-title>Visita No. {{ x.id }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Nombre del Cliente:</strong> {{x.nombre_cliente}}</p>
        <p><strong>Fecha:</strong> {{x.fecha}}</p>
        <p><strong>Hora:</strong> {{x.hora}}</p>
      </ion-card-content>
    </ion-card>
    </div>
  </div>
</ion-content>
