<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}" class="full-screen-background-image2">
    <div style="width: 100%; height: 50%; background-color: transparent;">
      <div class="container">
        <img class="img-center" *ngIf="pictureApp" src="{{pictureApp}}">
      </div>
    </div>
    <div padding>
      <form (ngSubmit)="resetPassword()" class="item item-trns">
        <ion-item color="transparent">
          <ion-label style="color: white;" position="floating"><ion-icon name="contact"></ion-icon> Usuario o Correo Electrónico</ion-label>
          <ion-input (keyup.enter)="resetPassword()" style="color: white;" type="text" [(ngModel)]="data.username" name="username">
          </ion-input>
        </ion-item>
        <div style="padding: 10px;">
        <ion-button color="4C9900" expand="block" type="submit" [disabled]="btnDisabled">Recuperar Contraseña</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>