<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mayusculas">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToRoute('home/cliente')">
        <ion-icon name="people" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'display': selectedTag=='ventas'? 'block' : 'none'}" class="h-100">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div id="map-planificacion" style="height:250px!important;"></div>
  <ion-grid padding>
    <div class="h-50">
      <ion-row>
        <ion-col size="12">
          <h3 class="mayusculas">Rutas Planificadas</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-grid>
            <ion-row *ngFor="let data of clientes; let a = index" class="mayusculas" [ngStyle]="{'display': data.estado=='1'? '' : 'none'}">
              <ion-col class="div-redondeado" size="2">
                <span>
                  <h1>{{a+1}}</h1>
                </span>
              </ion-col>
              <ion-col size="7">
                <ion-icon name="person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} {{((data.apellido)?data.apellido:'')}} <br>
                <small><ion-icon name="map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
                <small><ion-icon name="phone-portrait"></ion-icon>  {{((data.telefono)?data.telefono:'')}}</small>
                <div class="text-right">
                  <ion-button (click)="changeState(data.usuarioidDelete, 2)" expand="small" color="4F7302">Quitar</ion-button>
                </div>
              </ion-col>
              <ion-col size="3">
                <small><ion-icon name="car"></ion-icon>  {{((data.distance)?data.distance:'')}} </small> <br>
                <ion-button (click)="getLocation(data.latitud, data.longitud, data.nombre + ' ' + data.apellido)" expand="small" color="4F7302" fill="clear">Ubicar
                  <ion-icon name="pin" slot="end"></ion-icon>
                </ion-button>              
                <ion-button (click)="goToRoute('home/planificacion-detalle/'+data.id)" expand="small" color="4F7302" fill="clear">Detalle
                  <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end" ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid padding>
    <ion-row>
     <ion-col size="12">
        <h3 class="mayusculas">Rutas sin planificar</h3>
      </ion-col>            
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-grid>
          <ion-row *ngFor="let data of clientesPendientes; let b = index" class="mayusculas" [ngStyle]="{'display': data.estado==2? '' : 'none'}">
            <ion-col class="div-redondeado" size="2">
              <span>
                <h1>{{b+1}}</h1>
              </span>
            </ion-col>
            <ion-col size="7">
              <ion-icon name="person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} {{((data.apellido)?data.apellido:'')}} <br>
              <small><ion-icon name="map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
              <small><ion-icon name="phone-portrait"></ion-icon>  {{((data.telefono)?data.telefono:'')}}</small>
              <div class="text-right">
                <ion-button (click)="changeState(data.usuarioidDelete, 1)" expand="small" color="4F7302">Agregar</ion-button>
              </div>
            </ion-col>
            <ion-col size="3">
              <small><ion-icon name="car"></ion-icon>  {{((data.distance)?data.distance:'')}} </small> <br>
              <ion-button (click)="getLocation(data.latitud, data.longitud, data.nombre + ' ' + data.apellido)" expand="small" color="4F7302" fill="clear">Ubicar
                <ion-icon name="pin" slot="end"></ion-icon>
              </ion-button>
              <ion-button (click)="goToRoute('home/planificacion-detalle/'+data.id)" expand="small" color="4F7302" fill="clear">Detalle
                <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding>
    <ion-row>
     <ion-col size="12">
        <h3 class="mayusculas">Rutas Pendientes</h3>
      </ion-col>            
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-grid>
          <ion-row *ngFor="let data of clientesPendi; let b = index" class="mayusculas" [ngStyle]="{'display': data.estado==3? '' : 'none'}">
            <ion-col class="div-redondeado-pendiente" size="2">
              <span>
                <h1>{{b+1}}</h1>
              </span>
            </ion-col>
            <ion-col size="7">
              <ion-icon name="person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} {{((data.apellido)?data.apellido:'')}} <br>
              <small><ion-icon name="map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
              <small><ion-icon name="phone-portrait"></ion-icon>  {{((data.telefono)?data.telefono:'')}}</small>
              <div class="text-right">
                <ion-button (click)="changeState(data.usuarioidDelete, 1)" expand="small" color="960814">Agregar</ion-button>
              </div>
            </ion-col>
            <ion-col size="3">
              <small><ion-icon name="car"></ion-icon>  {{((data.distance)?data.distance:'')}}</small> <br>
              <ion-button (click)="getLocation(data.latitud, data.longitud, data.nombre + ' ' + data.apellido)" expand="small" color="960814" fill="clear">Ubicar
                <ion-icon name="pin" slot="end"></ion-icon>
              </ion-button>
              <ion-button (click)="goToRoute('home/planificacion-detalle/'+data.id)" expand="small" color="960814" fill="clear">Detalle
                <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-center">
        <ion-button (click)="sendMail()" color="4F7302" fill="outline" expand="block" [disabled]="buttonSendMail">
          Iniciar Semana
          <ion-icon name="calendar" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
