// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

//PREDETERMINADO
.hover:hover ion-col{
    opacity: 0.7;
    // background-color: #686868!important;
}
.text-center{
    text-align: center !important;
    align-items: center!important;
}

.cursor{
    cursor:pointer !important;
}

.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}

.text-justify{
    text-align: justify!important;
}

.ml-2{
    margin-left: 0.4rem!important;
}

.mr-2{
    margin-right: 0.4rem!important;
}

.mt-2{
    margin-top: 0.4rem!important;
}

.mb-2{
    margin-bottom: 0.4rem!important;
}
.pl-2{
    padding-left: 0.4rem!important;
}

.pr-2{
    padding-right: 0.4rem!important;
}

.pt-2{
    padding-top: 0.4rem!important;
}

.pb-2{
    padding-bottom: 0.4rem!important;
}
.color-white{
    color: white!important;
}
.color-dark{
    color: black!important;
}
.secundary{
    background-color: #c1c2c5!important;
    color: rgb(0, 0, 0)!important;

}
.primary{
    background-color: #2d75f1!important;
    color: #fff!important;

}
.dark{
    background-color: #222428!important;
    color: #fff!important;

}
.light{
    background-color: #fff!important;
    color: #222428!important;

}
.bg-ligth{
    background-color: #fff;
    padding: 1rem;
}
.primary-clear{
    background-color: #fff!important;
    color: #2d75f1!important;

}
.pointer{
    cursor: pointer!important;
}
.messages{
    position: absolute!important;
    right: 20px!important;
    z-index: 3!important;
    font-size: 2rem!important;
    top:10px!important;
    cursor: pointer!important;
    }
    .messages .notification{
        position: absolute!important;
        right: -10px!important;
        top: -5px!important;
    }
    .main-header{
        text-align: center!important;
        font-size: 2rem!important;
    }
    .w-100{
        width: 100%!important;
    }
    .w-50{
        width: 50%!important;
    }
    .w-25{
        width: 25%!important;
    }
    .w-10{
        width: 10%!important;
    }
    .h-100{
        height: 100%!important;
    }
    .h-50{
        height: 50%!important;
    }
    .h-25{
        height: 25%!important;
    }
    .h-10{
        height: 10%!important;
    }
.color-blue {
    color:rgb(39, 39, 189) !important;
}

.font-30{
    font-size: 3rem !important;
}

.font-20{
    font-size: 2rem !important;
}
.font-19{
    font-size: 1.9rem !important;
}
.font-18{
    font-size: 1.8rem !important;
}
.font-17{
    font-size: 1.7rem !important;
}
.font-16{
    font-size: 1.6rem !important;
}
.font-15{
    font-size: 1.5rem !important;
}

.font-10{
    font-size: 1rem !important;
}
.font-9{
    font-size: 0.9rem !important;
}
.font-8{
    font-size: 0.8rem !important;
}
.font-7{
    font-size: 0.7rem !important;
}
.font-6{
    font-size: 0.6rem !important;
}
.font-5{
    font-size: 0.5rem !important;
}

//LOGIN
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.full-screen-background-image {
    -webkit-background-size: cover;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.full-screen-background-image2 {
    background-position: inherit;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.mayusculas{
  text-transform:uppercase;
}
.div-redondeado-pendiente {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #960814;
  background-color: #960814;
  color: white;
  text-align: center;
  width: 5%;
}