<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mayusculas">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="4F7302" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngFor="let x of visitas">
    <ion-card *ngIf="!x.planificacion">
      <ion-card-header color="4F7302">
        <ion-card-title>Visita No. {{ x.id }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content (click)="presentActionSheet(x.id)">
        <ion-text color="000000">
          <p><strong>Nombre del Cliente:</strong> {{x.nombre_cliente}}</p>
          <p><strong>Fecha:</strong> {{x.fecha}}</p>
          <p><strong>Hora:</strong> {{x.hora}}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
