.centrar{
  position: absolute;
  //nos posicionamos en el centro del navegador/
  top:30%;
  //determinamos una anchura/
  width:100%;
  //margin-top:120px;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.degradado{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}