<ion-content color="274001">
  <div [ngStyle]="{'background-image':'url(' + pictureHome + ')'}" class="full-screen-background-image2">
    <ion-grid style="position: absolute; background: transparent">
      <ion-row>
          <ion-col size="5">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
          (click)="logOut()" class="mayusculas">Cerrar Sesión</ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
            (click)="goToRoute('home/offline')" class="mayusculas">
            <ion-icon name="wifi" slot="start"></ion-icon>Sin Conexión</ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button class="btn-white" shape="round" fill="clear" color="light" type="button" size="small"
            (click)="goToRoute('home/perfil');getAllSeventh();" class="mayusculas">
            <ion-icon name="person" slot="icon-only"></ion-icon></ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
    
    <!--SLIDE-->
    <div class='centrar'>
      <ion-slides pager="true" [options]="slidesOpts">
        <ion-slide (click)="goToRoute('home/visita');getAll();">
          <div style="height: 325px; width: 100%;">
            <div class="contenedor full-screen-background-image" [ngStyle]="{'background-image':'url(' + pictureLogin + ')'}">
              <div class="degradado">
                <div class="centrado">
                  <h1 style="color: white; font-size: 40px;">Visitas</h1>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide (click)="openTruck()">
          <div style="height: 325px; width: 100%;">
            <div class="contenedor full-screen-background-image" [ngStyle]="{'background-image':'url(' + pictureLogin2 + ')'}">
              <div class="degradado">
                <div class="centrado">
                  <h1 style="color: white; font-size: 40px;">Camiones</h1>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="footer">
      <p *ngIf="codeCountry">© Foxylabs 2019 - <strong>{{codeCountry}}</strong></p>
      <p *ngIf="!codeCountry">© Foxylabs 2019</p>
    </div>
  </div>
</ion-content>
