<ion-header>
  <ion-toolbar color="274001"  mode="md">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mayusculas">{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="274001">
    <ion-searchbar animated [(ngModel)]="search" [ngModelOptions]="{standalone: true}"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="h-50">
    <div class="h-50">
      <ion-row>
        <ion-col size="12">
          <ion-grid>
            <ion-row *ngFor="let data of clientes | filter : search; let i = index">
              <ion-col class="div-redondeado" size="2">
                <span>
                  <h1>{{i+1}}</h1>
                </span>
              </ion-col>
              <ion-col size="7">
                <ion-icon name="person"></ion-icon>  {{((data.nombre)?data.nombre:'')}} <br>
                <small><ion-icon name="map"></ion-icon>  {{((data.direccion)?data.direccion:'')}}</small> <br>
              </ion-col>
              <ion-col size="3">
                <br> <br>              
                <ion-button (click)="goToRoute('home/finalizado-detalle/'+data.id)" expand="small" color="4F7302" fill="clear">Detalle
                  <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" slot="end"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
